<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
  </head>
  <body>
    hi {{name}} ...<br/>
    bem-vindo a api games faça login para ter acesso as funcionalidades da nossa api.
  </body>
</html>